* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-text: hsl(217, 19%, 35%);
  --secondary-text: hsl(214, 17%, 51%);
  --tertiary-text: hsl(212, 23%, 69%);
  --background: hsl(210, 46%, 95%);
}

html {
  font-size: 62.5%;
  /* 10px */
}

body {
  font-family: 'Manrope', sans-serif;
  background-color: var(--background);
  color: var(--secondary-text);
  font-size: 1.3rem;
  display: grid;
  grid-template-rows: 95vh 5vh;
  align-items: center;
  justify-items: center;
}

.container {
  width: 720px;
  min-width: 300px;
  background-color: #fff;
  border-radius: 1.5rem;
  display: grid;
  grid-template-columns: 40% 60%;
  box-shadow: 1.5rem 2rem 4rem rgba(0, 0, 0, 0.1);
  font-size: 13px;
}

/* left side of the container */
.img-div {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.img-div__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 1.5rem 0 0 1.5rem;
}

/* right side of the container */
.text-box {
  padding: 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-box__title {
  margin-bottom: 2rem;
}

.text-box__title__heading {
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary-text);
  margin-bottom: 2rem;
  line-height: 2.5rem;
}

.text-box__title__subheading {
  line-height: 2rem;
}

/* div with author and date */
.text-box__info {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  align-items: center;
  column-gap: 2rem;
  position: relative;
}

.text-box__info__img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.text-box__info__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-box__info__text__author {
  color: var(--primary-text);
  font-weight: 700;
  margin-bottom: .5rem;
}

.text-box__info__text__date {
  color: var(--tertiary-text);
}

.text-box__info__share {
  display: grid;
}

.text-box__info__share__link {
  fill: var(--secondary-text);
  background-color: var(--background);
  width: 1.50rem;
  height: 1.50rem;
  padding: .75rem;
  box-sizing: content-box;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
}

.focus {
  fill: var(--background);
  background-color: var(--secondary-text);
  border-radius: 50%;
}

.text-box__info__share__menu {
  background-color: var(--primary-text);
  width: 24rem;
  height: 5rem;
  border-radius: 1rem;
  padding: 1rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: -155%;
  left: 62%;
  visibility: hidden;
  z-index: 1;
}

.triangle {
  border-top: 1rem solid var(--primary-text);
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  position: absolute;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
}

.emptySlot {
  display: none;
  width: 3rem;
  height: 3rem;
}

.share {
  color: var(--tertiary-text);
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

.show {
  visibility: visible;
}

.share__link,
.share__link:link,
.share__link:visited{
  transition: all .2s ease-in-out;
}

.share__link:hover {
  transform: translateY(2px);
}

.footer {
  font-size: 11px;
  text-align: center;
}

.footer__link,
.footer__link:link,
.footer__link:visited {
  color: var(--primary-text);
}

/* tablet view */
@media (max-width: 850px) {
  body {
    align-items: flex-start;
    grid-template-rows: repeat(2, min-content);
  }

  .container {
    margin: 5rem auto;
    width: 85%;
    max-width: 400px;
    grid-template-columns: 1fr;
    grid-template-rows: 45% 55%;
  }

  .img-div__img {
    border-radius: 1.5rem 1.5rem 0 0;
  }

  .text-box {
    padding: 4rem 3.5rem 2rem;
  }

  .text-box__info {
    align-items: end;
  }

  /* menu for table */
  .text-box__info__share__menu {
    width: calc(100% + 7rem);
    height: 7rem;
    padding: 0rem 3.5rem ;
    border-radius: 0 0 1.5rem 1.5rem;
    top: -0.75rem;
    left: -3.5rem;
    z-index: 1;
  }

  .triangle {
    display: none;
  }

  .emptySlot {
    display: block;
  }
}

/* mobile view */
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .text-box {
    padding: 4rem 4.5rem 2rem;
  }

  .text-box__info__share__link {
    width: 14px;
    height: 14px;
    padding: 7px;
  }

  .emptySlot {
    width: calc(14px + 7px + 7px);
    height: calc(14px + 7px + 7px);;
  }

  /* menu for phone */
  .text-box__info__share__menu {
    width: calc(100% + 9rem);
    padding: 0rem 4.5rem ;
    left: -4.5rem;
    top: 0%;
  }

  .share__link:hover {
    transform: none;
  }

}
